.button {
    -fx-text-fill: whitesmoke;
   -fx-background-color: #0c1218;
-fx-font-size: 16pt;
   -fx-padding: 10;
   
   
}


.button:hover{
    -fx-background-color: #40474d;
-fx-font-size: 16pt;
   -fx-padding: 15;
}
.label{
     -fx-font-size: 12pt;
     -fx-font-weight: bolder;
}